#playlist button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#playlist button:hover {
    color: #1db954;
}

button {
    background-color: #1db954;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760;
}
